<div local-class='card' ...attributes>
  {{#if (has-block-params)}}
    {{yield
      (hash
        Header=(component 'examples/card/header')
        Body=(component 'examples/card/body')
        Footer=(component 'examples/card/footer')
      )
    }}
  {{else}}
    <Examples::Card::Body>{{yield}}</Examples::Card::Body>
  {{/if}}
</div>