<section>
  <span class="attribution">Gamma, E. et al. (1994, p. 97ff)</span>
  <h3 class="r-fit-text">Builder Component</h3>

  <p>Builder is a creational pattern providing you a construction code to
    produce different types and representations of an object.</p>

  <blockquote class="fragment">
    Let's make a card builder to compose different cards
  </blockquote>
</section>

<section>
  <h4>OOP</h4>
  <Code @name="patterns/builder.ts" data-line-numbers="1-8|10-11|13-16|18-23" />
</section>

<section>
  <h4>Template</h4>
  <Code @name="patterns/builder.hbs" data-line-numbers="3-7|9" />
</section>

<section>
  <span class="attribution">Gamma, E. et al. (1994, p. 98)</span>
  <h4>Usage</h4>

  <ul>
    <li class="fragment">Construction must allow different representations</li>
    <li class="fragment">Complex components to be independet from that parts and
      how they are assembled</li>
    <li class="fragment">Ember Specific: Named Blocks vs. Yielded Components</li>
  </ul>
</section>