<section>
  <h2>References</h2>

  <References class="references" as |l|>
    <l.BlogPost
      @title="Presentational and Container Components"
      @year="2015"
      @url="https://medium.com/@dan_abramov/smart-and-dumb-components-7ca2f9a7c7d0"
      as |r|
    >
      <r.Author @given="Dan" @family="Abramov" />
    </l.BlogPost>

    <l.BlogPost
      @title="Mixins Are Dead. Long Live Composition"
      @year="2015"
      @url="https://medium.com/@dan_abramov/mixins-are-dead-long-live-higher-order-components-94a0d2f9e750"
      as |r|
    >
      <r.Author @given="Dan" @family="Abramov" />
    </l.BlogPost>

    <l.Book
      @chapter="The Stack"
      @title="Every Layout"
      @edition="2nd edition"
      @year="2021"
      as |r|
    >
      <r.Author @given="Andy" @family="Bell" />
      <r.Author @given="Heydon" @family="Pickering" />
    </l.Book>

    <l.BlogPost
      @title="CUBE CSS"
      @year="2020"
      @month="5"
      @day="26"
      @url="https://piccalil.li/blog/cube-css/"
      as |r|
    >
      <r.Author @given="Andy" @family="Bell" />
    </l.BlogPost>

    <l.WebPage
      @title="Flow CSS Utility"
      @year="2020"
      @month="11"
      @day="3"
      @url="https://piccalil.li/quick-tip/flow-utility/"
      as |r|
    >
      <r.Author @given="Andy" @family="Bell" />
    </l.WebPage>

    <l.WebPage @title="Exception" @url="https://cube.fyi/exception.html" as |r|>
      <r.Author @given="Andy" @family="Bell" />
    </l.WebPage>

    <l.BlogPost
      @title="Managing Flow and Rhythm with CSS Custom Properties"
      @year="2018"
      @month="12"
      @day="7"
      @url="https://24ways.org/2018/managing-flow-and-rhythm-with-css-custom-properties/"
      as |r|
    >
      <r.Author @given="Andy" @family="Bell" />
    </l.BlogPost>

    <l.Video
      @title="Making your app fast with high-performance components"
      @year="2015"
      @medium="Video File"
      @series="React.js Conf 2015"
      @url="https://www.youtube.com/watch?v=KYzlpRvWZ6c&t=1351s"
      as |r|
    >
      <r.Author @given="Jason" @family="Bonta" />
    </l.Video>

    <l.Video
      @title="Composable Components"
      @year="2015"
      @medium="Video File"
      @series="EmberCamp London 2015"
      @url="https://www.youtube.com/watch?v=6N4qsO22fmw"
      as |r|
    >
      <r.Author @given="Miguel" @family="Camba" />
    </l.Video>

    <l.Video
      @title="Higher Order Components"
      @year="2017"
      @medium="Video File"
      @series="EmberConf 2017"
      @url="https://www.youtube.com/watch?v=MpFudGJn2J0"
      as |r|
    >
      <r.Author @given="Miguel" @family="Camba" />
    </l.Video>

    <l.BlogPost
      @title="Container Components"
      @year="2015"
      @url="https://medium.com/@learnreact/container-components-c0e67432e005"
      as |r|
    >
      <r.Author @given="Michael" @family="Chan" />
    </l.BlogPost>

    {{! template-lint-disable no-potential-path-strings }}
    <l.Video
      @title="Design Considerations for a Modern Data Table"
      @year="2017"
      @medium="Video File"
      @series="@Ember SF"
      @url="https://www.youtube.com/watch?v=M6MHWgHjoJs"
      as |r|
    >
      <r.Author @given="Devendra" @family="Desai" />
    </l.Video>
  </References>
</section>

<section>
  <h2>References (2)</h2>

  <References class="references" as |l|>
    <l.Video
      @title="Building Better Components"
      @year="2019"
      @medium="Video File"
      @series="EmberConf 2019"
      @url="https://www.youtube.com/watch?v=Kyd2mQpR_9c"
      as |r|
    >
      <r.Author @given="Dianne" @family="Eramo" />
    </l.Video>

    <l.WebPage
      @title="Accessible Rich Internet Applications (WAI-ARIA) 1.2"
      @url="https://www.w3.org/TR/wai-aria-1.2/"
      as |r|
    >
      <r.Author @given="Joanmarie" @family="Diggs" />
      <r.Author @given="James" @family="Nurthen" />
      <r.Author @given="Michael" @family="Cooper" />
    </l.WebPage>

    <l.BlogPost
      @title="Atomic Design"
      @year="2013"
      @url="https://bradfrost.com/blog/post/atomic-web-design"
      as |r|
    >
      <r.Author @given="Brad" @family="Frost" />
    </l.BlogPost>

    <l.BlogPost
      @title="Design system components, recipes, and snowflakes"
      @year="2021"
      @url="https://bradfrost.com/blog/post/design-system-components-recipes-and-snowflakes"
      as |r|
    >
      <r.Author @given="Brad" @family="Frost" />
    </l.BlogPost>

    <l.Book
      @title="Design Patterns"
      @publisher="Addison-Wesley"
      @year="1994"
      as |r|
    >
      <r.Author @given="Erich" @family="Gamma" />
      <r.Author @given="Richard" @family="Helm" />
      <r.Author @given="Ralph" @family="Johnson" />
      <r.Author @given="John" @family="Vlissides" />
    </l.Book>

    <l.BlogPost
      @title="Introducing the Single Element Pattern"
      @year="2018"
      @url="https://www.freecodecamp.org/news/introducing-the-single-element-pattern-dfbd2c295c5d/"
      as |r|
    >
      <r.Author @given="Diego" @family="Haz" />
    </l.BlogPost>

    <l.BlogPost
      @title="Higher-Order Components in Ember.js"
      @year="2018"
      @url="https://v4.chriskrycho.com/2018/higher-order-components-in-emberjs.html"
      as |r|
    >
      <r.Author @given="Chris" @family="Krycho" />
    </l.BlogPost>

    <l.BlogPost
      @title="Components patterns in Ember.js"
      @year="2018"
      @url="https://medium.com/macsour/components-patterns-in-ember-js-5e6fc6eea28f"
      as |r|
    >
      <r.Author @given="Maciej" @family="Kwaśniak" />
    </l.BlogPost>

    <l.BlogPost
      @title="The Strategy Pattern Using Higher Order Functions"
      @year="2018"
      @url="https://hackernoon.com/the-command-pattern-using-higher-order-functions-e482fe322460"
      as |r|
    >
      <r.Author @given="Ivan" @family="Montiel" />
    </l.BlogPost>

    <l.WebPage
      @title="BEM — Block Element Modifier"
      @url="http://getbem.com/introduction/"
      as |r|
    >
      <r.Author @given="Vsevolod" @family="Strukchinsky" />
      <r.Author @given="Vlad" @family="Starkov" />
    </l.WebPage>

    <l.Book
      @title="The Humane Interface"
      @publisher="Addison-Wesley"
      @year="2008"
      @edition="10th Printing"
      as |r|
    >
      <r.Author @given="Jef" @family="Raskin" />
    </l.Book>

    <l.Video
      @title="Design-Patterns? Bloß nicht! // deutsch"
      @year="2022"
      @medium="Video File"
      @url="https://www.youtube.com/watch?v=oC-9HZ0r3e4"
      as |r|
    >
      <r.Author @given="Golo" @family="Roden" />
    </l.Video>

    <l.BlogPost
      @title="Custom properties with defaults: 3+1 strategies"
      @year="2021"
      @url="https://lea.verou.me/2021/10/custom-properties-with-defaults"
      as |r|
    >
      <r.Author @given="Lea" @family="Verou" />
    </l.BlogPost>

  </References>
</section>