h1.title {
  font-size: 150%;
}

.spec {
  padding: 1%;
  font-size: 60%;
  text-align: left;
  --r-heading-color: var(--r-background-color);
  background-color: var(--r-main-color);
  color: var(--r-background-color);
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 1em;

  h2 {
    font-size: 130%;
  }

  h3 {
    font-size: 115%;
  }

  ul {
    margin: 0;
  }

  .main,
  aside {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}
