<section>
  <h3 class="r-fit-text">Prototype Pattern</h3>
</section>

<section>
  a shape component that takes x and y args and specific args for their cloned prototypes (rectangle and circle). See
  example from refactoring guru
</section>