.header {
  overflow: hidden;
}

.toc {
  background: var(--color-bg-alternative);
  margin-block: var(--s-1);
  padding: var(--s-2);
  display: inline-flex;
  flex-direction: column;
  gap: var(--s-1);

  & > a {
    display: block;
    text-indent: calc(var(--s1) * -1);
    text-decoration: none;

    &.title {
      font-size: 0;

      &::before {
        font-size: initial;
        content: "Table of Contents";
      }
    }
  }

  /*
   * Move toc out to the right and make it sticky. Actually, that's the wrong
   * thing to do with a media query here :vomit:
   *
   * ...but I'm giving up
   */
  @media (--viewport-wide) {
    position: fixed;
    background: transparent;
    margin-left: calc(var(--measure) + var(--s1));
    margin-block: 0;
    top: calc(var(--page-header-height) + var(--s1));

    & > a.title {
      font-size: initial;

      &::before {
        content: unset;
      }
    }
  }
}

.title {
  padding-left: var(--s1);
  font-weight: 550;
  text-transform: uppercase;
}

.level-1 {
}

.level-2 {
  color: var(--color-heading);
  padding-left: var(--s1);
}

.level-3 {
  padding-left: var(--s2);
  font-size: var(--s0);
}

.level-4 {
  padding-left: var(--s3);
  font-size: var(--s0);
}

.level-4 {
  padding-left: var(--s4);
  font-size: var(--s0);
}

/* @media (min-width: 40rem) {
  :global(not(.page-has-menu)) .toc {
    margin-top: 1px;
    padding-top: var(--s1);
    position: fixed;
    padding-left: var(--s1);
    height: 100vh;
    overflow-y: auto;
    right: 0;
    left: calc(50% + 35rem / 2);
    top: var(--page-header-height);
    border-left: 1px solid var(--color-border);
    margin-left: var(--s1) !important;
    margin-right: 0;
  }
}

@media (min-width: 67rem) {
  :global(.page-has-menu) .toc {
    margin-top: 1px;
    padding-top: var(--s1);
    position: fixed;
    padding-left: var(--s1);
    height: 100vh;
    overflow-y: auto;
    right: 0;
    left: calc(50% + 35rem / 2);
    top: var(--page-header-height);
    bottom: 0;
    border-left: 1px solid var(--color-border);
    margin-left: var(--s1) !important;
    margin-right: 0;

    .title {
      display: block;
    }
  }
} */
