<TitleSlide @title="Patterns" @subtitle="How they work inside" />

<section>

  <table>
    <thead>
      <tr>
        <th>Creational</th>
        <th>Structural</th>
        <th>Behavioral</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <b>Abstract Factory</b><br>
          <b>Factory Method</b><br>
          <b>Builder</b><br>
          <b>Prototype</b><br>
          Singleton
        </td>
        <td>
          <b>Adapter</b><br>
          Bridge<br>
          Composite<br>
          <b>Decorator</b><br>
          <b>Facade</b><br>
          <b>Flyweight</b><br>
          <b>Proxy</b>
        </td>
        <td>
          Command<br>
          Interpreter<br>
          Mediator<br>
          Memento<br>
          Observer<br>
          State<br>
          Strategy<br>
          Template Method<br>
          Visitor
        </td>
      </tr>
    </tbody>
  </table>
</section>

<section>
  <Slides::Patterns::Facade />
</section>