<section>
  <h3 class="r-fit-text">Facade Pattern</h3>
</section>

<section>
  Screen Components,

  provide _one_ interface from the route to the sections,
  instead of the route to invoke each section directly
</section>