.title-slide {
  margin: auto;
  text-align: left;

  header {
    font-size: 150%;
    text-transform: uppercase;

    &::first-letter {
      font-size: 120%;
    }

    h1 {
      font-size: 200%;
      line-height: 0.8;
      text-transform: uppercase;
      text-indent: -1%;
    }
  }

  p {
    display: block;
    font-weight: 200;
    padding-top: 3em;
  }
}

.title {
  display: block;
  line-height: 0.9 !important;
  text-align: left;

  span {
    font-size: 50%;
    font-weight: 300;
  }
}
