<section>
  <div local-class="title-slide">
    <header>
      {{#if @eyebrow}}
        {{@eyebrow}}
      {{else}}
        &nbsp;
      {{/if}}
      <h1>{{@title}}</h1>
    </header>
    <p>{{@subtitle}}</p>
  </div>
</section>