.page {
  display: grid;
  grid-template-columns: 100%;

  main {
    padding: var(--s1);
  }

  @media (--viewport-normal) {
    & {
      grid-template-columns: calc((100vw - var(--measure)) / 2) auto;

      main {
        grid-column: 2 / 2;
      }
    }
  }
}
