.page {
  display: flex;
  padding-bottom: var(--s4);

  /* & > main {
    width: 35rem;
  } */
}
.page {
  overflow: hidden;
}

.page > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--s1) / 2 * -1);
  margin-left: auto;
  margin-right: auto;
}

.page > * > * {
  margin: calc(var(--s1) / 2);
  /* flex-grow: 1; */
}

.page > * > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(50% - var(--s1));
}

@media (max-width: 40rem) {
  .page > * > :last-child {
    min-width: unset;
  }
}
