<div
  local-class="page"
  data-page-menu={{this.menu}}
  itemscope
  itemtype="https://schema.org/WebPage"
>
  {{#if (has-block-params)}}
    {{yield
      (hash Menu=(component "page/menu" page=this) Main=(component "page/main"))
    }}
  {{else}}
    <Page::Main>
      {{yield}}
    </Page::Main>
  {{/if}}
</div>