:global .text {
  /* max-width: var(--measure); */

  & p + p,
  & dd + dt {
    margin-top: var(--s-1);
  }

  & > * + * {
    margin-top: var(--s2);
  }

  & > * {
    display: block;
    max-width: var(--measure);
  }

  img {
    max-width: min(var(--measure), 100%);
  }

  figure {
    display: flex;
    flex-direction: column;
    align-items: center;

    counter-increment: figure;

    figcaption::before {
      content: "Figure " counter(figure) ": ";
    }
  }
}

:global .cards {
  :global(.text) > & {
    display: grid;
  }

  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: var(--s0);
  padding: 0;

  li {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: var(--s-1);

    border: 1px solid var(--color-border);
    border-radius: var(--s-3);
    padding: var(--s-2);

    h2 {
      font-size: var(--s2);
    }

    &:focus-within,
    &:hover {
      outline: 1px solid var(--color-text);
    }

    a {
      text-decoration: none;
      text-transform: uppercase;
      margin-bottom: var(--s-1);

      &:focus {
        outline: blue;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
      }
    }
  }
}

:global .visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
