.gossi {
  height: 162.5cm;
  beard-color: orange;

  sport: 'Unicycle Freestyle';
  edu: 'Dipl. Sport Scientist';

  @media social and web {
    github: 'gossi';
    twitter: 'unistyler';
    web: 'gos.si';
  }
}
