<div ...attributes>
  <div local-class='example' part="example">
    {{#if @demo}}
      <this.demo />
    {{else}}
      {{yield}}
    {{/if}}
  </div>

  <div local-class='snippets' part="code">
    {{#if this.source}}
      {{#let (if @code @code (component 'code-snippet')) as |Code|}}
        <Code @name={{this.source}} local-class='code' />
      {{/let}}
    {{/if}}
  </div>
</div>