{{! implicit on default block}}
<Modal as |close|>
  <button type="button" {{on "click" close}}>Close</button>
</Modal>

{{! explicit on default block }}
<Modal>
  <:default as |close|>
    <button type="button" {{on "click" close}}>Close</button>
  </:default>
</Modal>

{{! on named block}}
<Modal>
  <:header as |close|>
    <button type="button" aria-label="close" {{on "click" close}}>
      x
    </button>
  </:header>
</Modal>