{{page-title "Ember Component Architecture"}}

{{outlet}}

<Deck>
  <section>
    <h1 class="r-fit-text">
      Component<br />
      Architecture
    </h1>
  </section>

  <section>
    <span class="attribution">Picture by Philipp Henestrosa (Unicon 17,
      Montreal, 2014)</span>
    <h2>About Me</h2>

    <div class="cols">
      <div>
        <Code @name="gossi.css" />
      </div>

      <img
        src="gossi-baby-freeze.jpg"
        alt="gossi doing a baby freeze trick on a unicycle"
      />
    </div>
  </section>

  <section>
    <h2>Learning</h2>

    <ul>
      <li>Reminder: There is something new for anybody here</li>
      <li>Get an Overview of what is available</li>
      <li>Recognize a different perspective of things you already use</li>
      <li>Practical tips at the end</li>
      <li>DO NOT overwhelm yourself - let it sink in</li>
      <li>Framework agnostic</li>
    </ul>
  </section>

  <section>
    <ComponentSpec>
      <h2>Goal</h2>

      Formalize a component Spec
    </ComponentSpec>
  </section>

  <section>
    <h2>Vocabulary</h2>
    <h3 class="fragment" data-fragment-index="1">Inside vs. Outside</h3>

    <div class="cols fragment" data-fragment-index="1">
      <ul>
        <li>Developers/Authors</li>
        <li>Definition</li>
      </ul>
      <ul>
        <li>Consumers</li>
        <li>Invocation</li>
      </ul>
    </div>

    <h3 class="fragment" data-fragment-index="2">Internal vs. Public</h3>
    <div class="cols fragment" data-fragment-index="2">
      <ul>
        <li>Know within a scope</li>
        <li>Only consumed within the scope</li>
      </ul>
      <ul>
        <li>Publicly known</li>
        <li>Everybody allowed to use them</li>
      </ul>
    </div>
  </section>

  <section>
    <h2>ToC (tbd)</h2>

    <ul>
      <li>Haptics</li>
      <li>Patterns</li>
      <li>Types</li>
      <li>Classification</li>
      <li>CSS API (needs a better name)</li>
    </ul>
  </section>

  <section>
    <Slides::Haptics />
  </section>

  <section>
    <Slides::Patterns />
  </section>

  <section>
    <Slides::Types />
  </section>

  <section>
    <Slides::Classification />
  </section>

  <section>
    <Slides::CssApi />
  </section>
</Deck>