{{page-title "Ember Handbook"}}
<Page>
  <article class="text">
    <h1>Welcome to Ember Handbook</h1>

    <p>A resource for in-depth content of selected topics</p>

    <ul class="cards">
      <li>
        <h2><LinkTo @route="component-architecture">Component Architecture</LinkTo></h2>
        <p>To build resilient and beautiful components</p>
      </li>
    </ul>
  </article>
</Page>

<footer local-class="footer">
  Made by
  {{! template-lint-disable link-rel-noopener}}
  <a href="https://gos.si" target="_blank">Thomas 'gossi' Gossmann</a>
  -
  <a
    href="https://github.com/gossi/ember-handbook"
    target="_blank"
    rel="noopener noreferrer"
  >github</a>
</footer>