{{page-title "Ember Handbook"}}
<Page>
  <article class="text">
    <h1>Welcome to Ember Handbook</h1>

    <p>A resource for in-depth content of selected topics</p>

    <ul class="cards">
      <li>
        <h2><LinkTo @route="component-architecture">Component Architecture</LinkTo></h2>
        <p>To build resilient and beautiful components</p>
      </li>
    </ul>
  </article>
</Page>