<TitleSlide @title="Types" @subtitle="What's their purpose?" />

<section>
  Bob + Greta Placeholder
</section>

<section>
  <h2>Definition</h2>

  <p><strong>Types</strong>
    express a
    <i>common, repetitive</i>
    use-case, which results in a given set of haptics and the possible
    <i>patterns</i>
    it implements.</p>
</section>

<Slides::Types::Presentational />

<Slides::Types::Container />

<Slides::Types::Provider />

<Slides::Types::Composable />

<Slides::Types::DataEntry />

<section>
  <h2>Discussion</h2>

  <ul>
    <li class="fragment">Haptics are a first indicator for a type</li>
    <li class="fragment">Types are solid and ambiguous at the same time
      (fragmented literature)</li>
    <li class="fragment">Chameleons are powerful: Use sensible defaults and
      provide kits for customization</li>
    <li class="fragment">Use the right "tool" - don't abuse</li>
  </ul>
</section>

<section>
  <ComponentSpec>
    <:signature>
      <ul>
        <li>Element</li>
        <li>Arguments</li>
        <li>Blocks</li>
      </ul>
    </:signature>

    <:patterns>
      <ul>
        <li class="title">Creational</li>
        <li><input type="checkbox" /> Factory</li>
        <li><input type="checkbox" /> Prototype</li>
        <li><input type="checkbox" /> Builder</li>

        <li class="title">Structural</li>
        <li><input type="checkbox" /> Decorator</li>
        <li><input type="checkbox" /> Adapter</li>
        <li><input type="checkbox" /> Bridge</li>
        <li><input type="checkbox" /> Facade</li>

        <li class="title">Behavioral</li>
        <li><input type="checkbox" /> Command</li>
        <li><input type="checkbox" /> Strategy</li>
      </ul>
    </:patterns>

    <:haptics>
      <ul>
        <li><input type="checkbox" /> Style</li>
        <li><input type="checkbox" /> Content</li>
        <li><input type="checkbox" /> Structure</li>
      </ul>
    </:haptics>

    <:types>
      <ul class="fragment">
        <li><input type="radio" name="type" /> Presentational</li>
        <li><input type="radio" name="type" /> Container</li>
        <li><input type="radio" name="type" /> Provider</li>
        <li><input type="radio" name="type" /> Composable</li>
        <li><input type="radio" name="type" /> Data Entry</li>
      </ul>
    </:types>
  </ComponentSpec>
</section>