<TitleSlide @title="Types" @subtitle="... a purpose, they need" />

<section>
  <h2>Definition</h2>

  <blockquote>A component serves a given <b>purpose</b>.</blockquote>

  A type <i>expresses</i> a given set of haptics and the possible <i>patterns</i> it implements.
</section>

<section>
  <h2>Types</h2>
</section>

<section>
  <Slides::Types::Contextual />
</section>

<section>
  <Slides::Types::Container />
</section>

<section>
  <Slides::Types::Presentational />
</section>

<section>
  <Slides::Types::Provider />
</section>

<section>
  <h2>Discussion</h2>
</section>