@import '../components/deck/-plugins/attribution/attribution';

:global {
  .cols {
    display: grid;
    grid-auto-flow: column;
    gap: 2%;

    &[data-cols='2'] {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  ul.list-unstyled {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li.list-unstyled {
    list-style-type: none;
  }

  .t-nowrap {
    white-space: nowrap;
  }

  .references {
    padding-left: 0;
    font-size: 50%;

    & > li {
      list-style-type: none;
      list-style-position: inside;
      padding-left: 1em;
      text-indent: -1em;
      margin-bottom: var(--s-4);
    }
  }

  .reveal {
    li blockquote {
      width: 90%;
    }

    blockquote cite {
      display: block;
    }

    table td {
      border-bottom: 0;
    }

    code {
      background: #282c34;
      border-radius: 0.2em;
      opacity: 0.8;
    }
  }
}
