.flow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  & > * + * {
    margin-block-start: var(--flow-space, 1.5rem);
  }

  [data-flow-end] {
    margin-block-start: auto;
  }
}
