<CardBuilder as |cb|>
  <cb.Header>top</cb.Header>
  <cb.Image />
  <cb.Body>main text content</cb.Body>

  <cb.Footer data-flow-end>
    <Button>
      Save
    </Button>
  </cb.Footer>
</CardBuilder>