{{! components/modal }}
<dialog>
  <header part="header">
    {{yield to="header"}}
  </header>

  <div part="body">
    {{yield to="body"}}
  </div>

  <footer part="footer">
    {{yield to="footer"}}
  </footer>
</dialog>