<Modal
  @headerClass="modal-header"
  @bodyClass="modal-body"
  @footerClass="modal-footer"
>
  <:header>Delete Blog Post?</:header>
  <:body>Do you want to delete the blog post?</:body>
  <:footer>
    <button type="button" data-intent="danger">Yes</button>
    <button type="button" data-importance="subtle">No</button>
  </:footer>
</Modal>