<TitleSlide @title="CSS API" @subtitle="How to paint them" />

<section>
  Bob + Greta Placeholder
</section>

<section>
  <h2>Values</h2>
</section>

<section>
  <h2>Modes</h2>
</section>

<section>
  <h3>Parts</h3>
</section>