<ComponentTitleSlide @title="CSS API" @subtitle="How to paint them" />

<section>
  Bob + Greta Placeholder
</section>

<section>
  <span class="attribution">Verou, L. (2021)</span>
  <h2>Definition</h2>

  Formalize a CSS API that exposes various parameters to customize the
  appereance.
</section>

<section>
  <h2>Values</h2>
</section>

<section>
  <h2>Modes</h2>
</section>

<section>
  <h3>Parts</h3>
</section>